chatbot2.json
{
  "name": "chatbot2",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "fb-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2064,
        -368
      ],
      "id": "324436cc-4684-4eee-bdc9-e431fbe51db7",
      "name": "Webhook",
      "webhookId": "f85c678e-6556-4e99-ba19-8324a9eb965e"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2288,
        -592
      ],
      "id": "baf5010c-adc6-431f-bd5a-8ddd681d9d42",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e23f0b91-2c75-4900-a43d-fbed5f45a1f0",
              "name": "text",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        96
      ],
      "id": "47329a21-8f71-44a2-af78-0cb2f30525d0",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a professional AI Customer Service Assistant for a software solutions brand. Your goal is to assist clients reaching out to the (Code every minute) page.\n\nScope: Provide helpful, concise, and technical support for programming-related questions and software services.\n\nSimple Inquiries: If the user's question is straightforward (e.g., general info, simple code explanations, or service inquiries), provide a direct and professional answer.\n\nComplex Inquiries: If the request is complex (e.g., custom project development, deep technical debugging, or price negotiations), politely ask the user to contact us via WhatsApp for a detailed consultation.\n\nContact Info: The WhatsApp number for complex cases is: +201145252173.\n\nTone: Professional, helpful, and tech-savvy \nmake limet to answer to be at maxmal 20 word",
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        96
      ],
      "id": "680fd220-50e9-4797-a5ba-2f0f3f21abe1",
      "name": "AI Agent",
      "notesInFlow": true,
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        304
      ],
      "id": "3807da9c-9818-47e3-b853-ef7ba3f37af6",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages?access_token=EAAWAOXK38voBQb3duZChtWumCg0ucjgGZBf44ZCppS3nw15VCe5no5ArT8lAZAq5dV399bUpbMZCa5uz7LPTcN72OPZCpwahiVT9djyQEEHaCJDQbK9JAfuKo5FfgqIZCZBUuKahcsOu3mTtYrpv5T1DeZAvp8IILmmsIOeuQEMCpSwxTKP7ZCHpK3Gl7lOXY3aYZC9WYu2xANoycz9nXeR2uDTQAZDZD ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $node[\"Webhook\"].json[\"body\"][\"entry\"][0][\"messaging\"][0][\"sender\"][\"id\"] }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": {{ JSON.stringify($json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        128
      ],
      "id": "3f7262c4-ed1f-41f5-8d3a-e68308fa48d3",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        304
      ],
      "id": "531677fd-a705-49b0-9ffb-cdb161235294",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "48WPnfozhK65klr9",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
              "name": "Text",
              "value": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2608,
        -544
      ],
      "id": "8610257a-7a69-4b33-af6b-9bbbaf06a85f",
      "name": "Text"
    },
    {
      "parameters": {
        "content": "# Text\n",
        "height": 528,
        "width": 768,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2272,
        -576
      ],
      "typeVersion": 1,
      "id": "d3edf431-1096-4caf-9c4d-4fedd889e2e5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Inputs\n",
        "height": 720,
        "width": 1536
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        -608
      ],
      "typeVersion": 1,
      "id": "022b1c16-526e-4a7b-9357-b91924e77b1b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Text }}",
        "options": {
          "systemMessage": "=## Overview\nYou are the Parent Orchestrator Agent. Your job is to route and coordinate incoming WhatsApp messages (text, voice, image) to the correct sub-agent or processing tool. The current date and time is {{ $now.toString() }}\n\n## Tools\n- Think: Use to evaluate context and decide routing logic\n- E-Mails Agent: Use for handling email-related queries, sending, replying, or managing inbox\n- Calendar Agent: Use for scheduling, retrieving, updating, or deleting calendar events\n- Web Search Agent: Use to fetch information from the internet (Google Search, Wikipedia, Hacker News)\n- Social Media Agent: Use to create or manage posts on Twitter/X\n\n## Rules\n- Route text, voice, or image inputs based on intent and context\n- Use Think tool when unsure which agent to delegate to\n- Always return the response in the correct WhatsApp output format (text or audio)\n- Keep responses concise and aligned with the casual tone of WhatsApp\n- Confirm completion of actions (emails sent, events scheduled, tweets posted, etc.)\n\n## Instructions\n1) Receive processed input (transcribed text, analyzed image, or raw message)\n2) Decide best-fit agent using Think\n3) Send the task to chosen sub-agent (E-Mails, Calendar, Web Search, Social Media)\n4) Summarize the result and return to WhatsApp as text or audio\n\n## Examples\n1)\nInput: \"What’s on my calendar tomorrow?\"\n- Action: Use Calendar Agent to check tomorrow’s events\n- Output: \"You have 2 events tomorrow: 10 AM – Project Review, 2 PM – Client Call.\"\n\n2)\nInput: Voice message: \"Send an email to Sarah about the meeting.\"\n- Action: Use E-Mails Agent to draft and send email\n- Output: \"Email sent to Sarah: Subject – Meeting Update...\"\n\n3)\nInput: \"Search the latest AI news.\"\n- Action: Use Web Search Agent\n- Output: \"Latest AI news from Hacker News: OpenAI released a new API feature...\"\n\n4)\nInput: \"Post on Twitter: Excited about our new product launch!\"\n- Action: Use Social Media Agent\n- Output: \"Tweet posted: 'Excited about our new product launch!'\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        3344,
        -496
      ],
      "id": "6be34f92-d307-4e54-b14b-ff1fd273d29b",
      "name": "Orchestrator Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "content": "# Text\n\n",
        "height": 176,
        "width": 576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3984,
        -240
      ],
      "typeVersion": 1,
      "id": "ae3f0933-fcfc-4182-a238-5da0440e2f4c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Output\n",
        "height": 704,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        -592
      ],
      "typeVersion": 1,
      "id": "4261192c-7b1e-4866-a359-231f0c6176d4",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool if you want to do something with calendar.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=## Overview\nYou are the Calendar Agent. Your job is to manage calendar events by creating, updating, retrieving, or deleting them as requested. The current date and time is {{ $now.toString() }}\n\n## Tools\n- Create an event: Use to add a new calendar event\n- Delete an event: Use to remove an existing event\n- Get an event: Use to fetch details of a specific event\n- Get Many Events: Use to list multiple upcoming or past events\n- Update Events: Use to modify details of an existing event\n\n## Rules\n- Always confirm the date, time, and event details before creating or updating\n- Use Get Many Events before creating to avoid duplicates if unsure\n- Keep responses short and clear for WhatsApp delivery\n- If an event cannot be found, respond politely with a fallback message\n\n## Instructions\n1) Interpret the user’s calendar request\n2) Select the correct tool (create, get, update, delete)\n3) Execute the action and return a human-friendly summary\n4) Always confirm the action back to the user\n\n## Examples\n1)\nInput: \"Add a meeting with Sarah tomorrow at 3 PM\"\n- Action: Use Create an event\n- Output: \"Meeting with Sarah scheduled for tomorrow at 3 PM.\"\n\n2)\nInput: \"What’s on my calendar this week?\"\n- Action: Use Get Many Events\n- Output: \"You have 4 events this week. First: Team Sync, Monday 10 AM.\"\n\n3)\nInput: \"Cancel my dentist appointment on Friday\"\n- Action: Use Delete an event\n- Output: \"Dentist appointment on Friday has been deleted.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        4032,
        240
      ],
      "id": "f61a0d20-eebb-4d56-8de1-9996f5ec7c76",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool if you want to do something with E-mails.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2976,
        272
      ],
      "id": "d8c1f5ee-971b-4d0c-8f93-ea4417b2aa0b",
      "name": "E-Mails Agent1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3600,
        -336
      ],
      "id": "c7bc7c1e-3acb-4caf-a061-c6382799fd13",
      "name": "Think"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to search the web.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "## Overview\nYou are the Web Search Agent. Your job is to search the web and retrieve reliable information from news, Wikipedia, or Google Search when requested. The current date and time is {{ $now.toString() }}\n\n## Tools\n- Get an article in Hacker News: Use to fetch recent Hacker News articles\n- Wikipedia: Use to retrieve encyclopedic and factual information\n- Google Search (SerpApi): Use for general web searches across the internet\n\n## Rules\n- Always choose the most relevant tool for the query\n- Return concise, clear, and factual responses\n- Summarize results instead of dumping raw data\n- Cite the source of information (e.g., \"According to Wikipedia...\")\n\n## Instructions\n1) Interpret the user’s query\n2) Select the best tool (Hacker News, Wikipedia, Google Search)\n3) Retrieve and summarize the answer\n4) Return only the relevant response in plain text\n\n## Examples\n1)\nInput: \"What’s the latest AI news?\"\n- Action: Use Hacker News tool to get recent articles\n- Output: \"Latest on Hacker News: OpenAI released a new API feature...\"\n\n2)\nInput: \"Who invented the telephone?\"\n- Action: Use Wikipedia tool\n- Output: \"According to Wikipedia, Alexander Graham Bell is credited with inventing the telephone in 1876.\"\n\n3)\nInput: \"Best restaurants in New York 2025\"\n- Action: Use Google Search (SerpApi)\n- Output: \"Top-rated restaurants in New York (2025): Le Bernardin, Eleven Madison Park, Atomix.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2016,
        288
      ],
      "id": "9811dfc4-778f-45c4-9dda-f92d9536829e",
      "name": "Search Agent",
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "# Orchestrator Agent\n\n",
        "height": 368,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3088,
        -592
      ],
      "typeVersion": 1,
      "id": "64360d3d-39e7-4081-8565-f8f069a1c604",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        2352,
        512
      ],
      "id": "e7b40b15-8b03-48f9-bb74-ce4c6dcb55e9",
      "name": "Google Search",
      "credentials": {
        "serpApi": {
          "id": "OO1v4EGNUCHgUDIj",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        2208,
        512
      ],
      "id": "8e9b8ef1-df31-480c-9b9f-a380f474c197",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "articleId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Article_ID', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        2064,
        512
      ],
      "id": "0f88d5ce-b40b-4328-b2c4-bd59b0a0270e",
      "name": "Get an article in Hacker News"
    },
    {
      "parameters": {
        "content": "# Web Search Agent\n\n",
        "height": 496,
        "width": 1040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        176
      ],
      "typeVersion": 1,
      "id": "bf1aa41a-ef3f-49a9-ae36-8f9effcb3fb9",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4000,
        480
      ],
      "id": "91d5f502-43ce-4aef-adc5-fa9c42e51803",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5tE46VT4j6DV8xiX",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4160,
        480
      ],
      "id": "b319d9de-ce4b-4054-991c-1de634432cd8",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5tE46VT4j6DV8xiX",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4288,
        480
      ],
      "id": "9a879aef-5d6b-4790-89cb-06a0abe0d332",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5tE46VT4j6DV8xiX",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4432,
        480
      ],
      "id": "8a610837-52c9-4ac5-8c7e-0fdb8c301f05",
      "name": "Get Many Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5tE46VT4j6DV8xiX",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4576,
        480
      ],
      "id": "ab3bd9c7-a271-4bc6-a9b7-85589dcbabb6",
      "name": "Update Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5tE46VT4j6DV8xiX",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2768,
        512
      ],
      "id": "acd2e8a7-6a77-4ddc-8943-509bf02050f6",
      "name": "Send a message",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "5pNOtveci2u2FCLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        3056,
        512
      ],
      "id": "fab73c37-3cfd-4915-8b45-10693bc73c20",
      "name": "Get many e-mails",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "5pNOtveci2u2FCLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2912,
        512
      ],
      "id": "53ba5220-c288-480c-af16-de43a889bc57",
      "name": "Delete an e-mail",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "5pNOtveci2u2FCLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        3216,
        512
      ],
      "id": "3292bdc3-47b6-428d-86b0-93c4e5b5f4ae",
      "name": "Mark as read",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "5pNOtveci2u2FCLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        3376,
        512
      ],
      "id": "c05a9cb1-c525-4943-8af0-f10b563065f8",
      "name": "Mark as unread",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "5pNOtveci2u2FCLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        3552,
        512
      ],
      "id": "835364db-f9b9-4c9b-907d-5dc03743fd18",
      "name": "Reply to e-mail",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "5pNOtveci2u2FCLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "# E-Mail Agent\n\n\n",
        "height": 496,
        "width": 1232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2592,
        176
      ],
      "typeVersion": 1,
      "id": "83e85ab6-993e-4994-8494-f192a3d8d8b7",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool if you want to post on x.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=## Role\nYou are an expert in creating high-quality, engaging, and modern posts for **X (formerly Twitter)**.  \nYou receive information and generate posts that are:\n\n- **Concise and informative**, without unnecessary details.  \n- **Engaging and dynamic**, designed to capture attention and encourage interaction.  \n- **Trending and optimized**, using relevant keywords and hashtags for maximum reach.  \n- **Structured for readability**, utilizing short paragraphs, line breaks, and emojis to enhance engagement.  \n\n---\n\n## Post Style\nYour posts should primarily focus on **AI topics** and often begin with this format:\n\n👉 *“XYZ just dropped XYZ, and people are already doing crazy stuff with it—10 examples.”*  \n\n⚠️ **Important:** When creating a post, always use the **savePost** tool to store it.  \n\n---\n\n## Tools\n\n### savePost\nUse this tool to save the post in a **Google Sheets document**. Include:\n\n- **Column 1:** Current date  \n- **Column 2:** Post topic  \n- **Column 3:** Post content (plain text)  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3344,
        -144
      ],
      "id": "341459d9-fbd2-4082-8232-42f85928c6a2",
      "name": "Social Media Agent"
    },
    {
      "parameters": {
        "content": "# Calender Agent\n\n\n",
        "height": 496,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        176
      ],
      "typeVersion": 1,
      "id": "e864e110-b3e0-4857-8d1a-5b212ecd571e",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# Social Media - Twitter\n\n\n",
        "height": 336,
        "width": 736,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3088,
        -208
      ],
      "typeVersion": 1,
      "id": "9cf76973-7986-4f25-b5dc-8f6b0c2fddf9",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitterTool",
      "typeVersion": 2,
      "position": [
        3312,
        -32
      ],
      "id": "d926280f-8222-47f5-98fd-6a703eb6ec8c",
      "name": "Create Tweet in X",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        3616,
        -16
      ],
      "id": "c1130baa-a390-40c9-a8e5-a8c9c8c78d88",
      "name": "x post",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4cMqKz5LDDzVoNrq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Text }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3360,
        -336
      ],
      "id": "9e96f448-af03-4384-9b84-e405fa1e23b3",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3216,
        64
      ],
      "id": "2897f79a-75d9-4130-b880-df17a595d298",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "48WPnfozhK65klr9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages?access_token=EAAWAOXK38voBQb3duZChtWumCg0ucjgGZBf44ZCppS3nw15VCe5no5ArT8lAZAq5dV399bUpbMZCa5uz7LPTcN72OPZCpwahiVT9djyQEEHaCJDQbK9JAfuKo5FfgqIZCZBUuKahcsOu3mTtYrpv5T1DeZAvp8IILmmsIOeuQEMCpSwxTKP7ZCHpK3Gl7lOXY3aYZC9WYu2xANoycz9nXeR2uDTQAZDZD ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $node[\"Webhook\"].json[\"body\"][\"entry\"][0][\"messaging\"][0][\"sender\"][\"id\"] }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": {{ JSON.stringify($json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4224,
        -192
      ],
      "id": "2869a0b8-de02-4185-b3ad-26e7b44e9cf4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3216,
        -288
      ],
      "id": "f7ad052a-82f6-4a6f-b099-bf56b8650d71",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "vZNmYYvW3EfzdigV",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3904,
        448
      ],
      "id": "f9756c49-afde-41b0-8768-71ec35a4ef31",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "vZNmYYvW3EfzdigV",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2656,
        432
      ],
      "id": "e2b71f85-cc30-411f-9bc1-86a2234e976b",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "vZNmYYvW3EfzdigV",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1888,
        496
      ],
      "id": "07e20548-dc0b-435b-bc5a-d3681bdf5255",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "vZNmYYvW3EfzdigV",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "E-Mails Agent1": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an article in Hacker News": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Many Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an e-mail": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many e-mails": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark as read": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark as unread": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to e-mail": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet in X": {
      "ai_tool": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "x post": {
      "ai_tool": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Africa/Cairo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 150
  },
  "versionId": "4948798e-c4e8-4532-9125-689599ac6d07",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "910611afce3162180971ae487eba928bb55933be7b8d2b6af1ee54fe343471a2"
  },
  "id": "ebPCjbCOpLTYkrOp",
  "tags": []
}